<h2 class="animate__animated  animate__bounceInDown heading-section text-center mt-3"><img src="/images/logo.png" class="logo"alt="JAP logo"> <span class="subtitle mt-2">User Management System</span> 
    </h2>
<section class="animate__animated animate__bounceInUp update-section pt-4 col-sm-11 col-md-9 col-lg-7">
    <div class="update-container">
<div class="row  justify-content-center">
    <div class="col-lg-10">
        <div class="wrap d-md-flex">
            <div class="text-wrap p-4 p-lg-5 d-flex img d-flex align-items-end"
            {{!-- style="background-image: url(images/bg.jpg);
            opacity: 0.8" --}}
            >
            <div class="text w-100">
                <h2 class="mb-4">
                   Update Products!
                </h2>
                <p>To update your product just fill up the form and click update product button.</p>
            </div>
            </div>
            <div class="login-wrap p-4 p-md-5">
                <h3 class="mb-3">Update Product</h3>
            <form action="/product/update/{{product._id}}" method="POST" class="update-form">
            
            <div class="row">               
                {{!-- Title --}}
                  <div class="col-md-12">
                    <div class="form-group d-flex align-items-center">
                        <label for="title" class="label">Title</label>
                        <input type="text" class="form-control"
                        name="title"
                         value={{product.title}}
                        placeholder="Title"
                        style="text-transform: capitalize">
                    </div>
                </div>
                {{!-- Discount--}}
                  <div class="col-md-12">
                    <div class="form-group d-flex align-items-center">
                        <label for="discount" class="label">Discount(%) </label>
                        <input type="number" class="form-control"
                        name="discount"
                         value={{product.discount}}
                        placeholder="Discount">
                    </div>
                </div>
                {{!-- Quantity --}}
                  <div class="col-md-12">
                    <div class="form-group d-flex align-items-center">
                        <label for="quantity" class="label">Quantity</label>
                        <input type="number" class="form-control"
                        name="quantity"
                          value={{product.quantity}}
                        placeholder="Quantity">
                    </div>
                </div>
                 {{!-- Price--}}
                  <div class="col-md-12">
                    <div class="form-group d-flex align-items-center">
                        <label for="price" class="label">Price(€) </label>
                        <input type="number" class="form-control"
                        name="price"
                          value={{product.price}}
                        placeholder="Price">
                    </div>
                </div>
              
                {{!-- Button --}}
                <div class="col-md-12">
                    <div class="form group">
                        <button type="submit" class="btn btn-secondary submit p-3 mt-3"
                       >Update product</button>
                    </div>
                </div>
            </div>
            </form>
            </div>
        </div>
    </div>
</div>
    </div>
  {{!--container end --}}
</section>