<h2 class="animate__animated  animate__bounceInDown heading-section text-center mt-3"><img src="/images/logo.png" class="logo"alt="JAP logo"> <span class="subtitle mt-2">User Management System</span> 
    </h2>
<section class="animate__animated animate__bounceInUp ftco-section pt-4 col-sm-11 col-md-9 col-lg-7">
    <div class="reg-container ">
<div class="row  justify-content-center">
    <div class="col-lg-10">
        <div class="wrap d-md-flex">
            <div class="text-wrap p-4 p-lg-5 d-flex img d-flex align-items-end"
            style="background-image: url(images/bg.jpg);"
            >
            <div class=" text w-100">
                <h2 class="mb-4">
                   Welcome to JAP !
                </h2>
                <p>This is a User Management System Site, where you can add your products, update and remove your products.</p>
            </div>
            </div>
            <div class="login-wrap p-4 p-md-5">
                <h3 class="mb-3">Registration form </h3>
            {{#if msger}}
                <div class="alert alert-danger">{{msger}}</div>
            {{/if}}
            <form action="/" method="POST" class="registration-form " novalidate>
            
            <div class="row">
                {{!-- name --}}
                <div class="col-md-12">
                    <div class="form-group d-flex align-items-center">
                        <label for="name" class="label">Name *</label>
                        <input type="text" class="form-control text-capitalize"
                        name="name"
                        placeholder="First Name"
                        required
                        value = {{{input.name}}}
                         >
                    </div>

                    {{#if msg.name}}
                        <div class="alert alert-danger p-2">{{msg.name}}
                        </div>
                    {{/if}}
                </div>
                {{!-- Surname --}}
                  <div class="col-md-12">
                    <div class="form-group d-flex align-items-center">
                        <label for="surname" class="label">Surname *</label>
                        <input type="text" class="form-control text-capitalize"
                        name="surname"
                        placeholder=" Surname"
                         required
                         value = {{{input.surname}}}
                         >
                    </div>
                </div>
                {{#if msg.surname}}
                        <div class="alert alert-danger p-2">{{msg.surname}}
                        </div>
                    {{/if}}
                {{!-- Country --}}
                  <div class="col-md-12">
                    <div class="form-group d-flex align-items-center">
                        <label for="country" class="label">Country *</label>
                        <input type="text" class="form-control text-capitalize"
                        name="country"
                        placeholder="Country"
                        value = {{{input.country}}}
                        >
                    </div>
                    {{#if msg.country}}
                        <div class="alert alert-danger p-2">{{msg.country}}
                        </div>
                    {{/if}}
                </div>
                {{!-- Address --}}
                  <div class="col-md-12">
                    <div class="form-group d-flex align-items-center">
                        <label for="address" class="label">Address *</label>
                        <input type="text" class="form-control text-capitalize"
                        name="address"
                        placeholder="Street, House nr., P.Code, City"
                        value = {{{input.address}}}
                         >
                    </div>
                    {{#if msg.address}}
                        <div class="alert alert-danger p-2">{{msg.address}}
                        </div>
                    {{/if}}
                </div>
                {{!-- E-mail --}}
                  <div class="col-md-12">
                    <div class="form-group d-flex align-items-center">
                        <label for="email" class="label">E-mail *</label>
                        <input type="email" class="form-control"
                        name="email"
                        placeholder="e.g. jospetash03@web.de"
                         required 
                         value = {{{input.email}}}>
                    </div>
                     {{#if msg.email}}
                        <div class="alert alert-danger p-2">{{msg.email}}
                        </div>
                    {{/if}}
                </div>
                {{!-- Password --}}
                  <div class="col-md-12">
                    <div class="form-group d-flex align-items-center">
                        <label for="password" class="label">Password *</label>
                        <input 
                        type="password" class="form-control"
                        name="password"
                        placeholder="(min 6 characters)"
                         required
                         value = {{{input.password}}}
                        >
                    </div>
                     {{#if msg.password}}
                        <div class="alert alert-danger p-2">{{msg.password}}
                        </div>
                    {{/if}}
                </div>
                {{!-- Terms & agreements --}}
                <div class="col-md-12 my-4">
                    <div class="form-group">
                        <div class="w-100">
                               
                            <label class="checkbox-wrap checkbox-primary w-100">
                                I agree all statements in terms of service
                               <input type="checkbox" unchecked>
                                <span class="checkmark">
                                    </span>
                            </label>
                        </div>
                    </div>
                </div>
                {{!-- Button --}}
                <div class="col-md-12">
                    <div class="form group">
                      <button type="submit" class="btn btn-secondary submit p-3">Create an account</button>
                    </div>
                </div>
            </div>
            </form>
            {{!-- Log in for registered members --}}
            <div class="w-100 text-center">
                <p class="p mt-4">
                    You have already an account !
                    <a href="/login"
                    class="animate__animated animate__shakeX"
                    >Log In</a>
                </p>
            </div>
            </div>
        </div>
    </div>
</div>
    </div>
  {{!--container end --}}
</section>
